

{% extends 'base.html' %}
{% block title %} Items Available {% endblock %}

        {% block content %}
<button class="btn btn-danger" onclick="confirmDelete()">Delete Traveller</button>

    <div class="homepage-info-section intro">
    <div class="container">
      {%if messages%}
{%for message in messages%}
<div class="alert alert-{{ message.tags }}">
  {{message}}
</div>
{%endfor%}
{%endif%}
    <div class="team-heading not-first-heading">
    <h3>BUY THESE ITEMS AND DROP THEM AT YOUR DESTINATION AIRPORT</h3>
</div>

        <div class="row">
            {% for pb in products %}
            <div class="col-xl-3 col-md-6 col-sm-12 d-flex align-items-stretch hell">
                <div class="card card-team one">
                    <div class="card-content-team">
                    <div class="card-img-div">
                    <img class="card-img-top" src="{{pb.product.imageUrl}}" alt="Card image" style="width:100%">
                    </div>
                    <div class="card-body">
                      <a href="#" class=""><h4 class="card-title">{{pb.product.name}}</h4></a>
                      <h4 class="card-subtitle">{{pb.product.location}}</h4>
                      <p class="card-text">&#x20B9;{{pb.product.price}}<br></p>
                      <div class="footer-social-icons ">
                    <ul class="flex flex-wrap justify-content-center align-items-center">
                        <li>
                            <a href="#">
                                <button class="positive-btn card-link-btn">I CAN PURCHASE</button>
                            </a>
                            <a href="#">
                                <button class="negetive-btn card-link-btn">I CAN NOT PURCHASE</button>
                            </a>
                        </li>
                    </ul>
                </div>     
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}

        </div>
        <a class="btn btn-primary" href="javascript:history.back()">
            Go back
          </a>
    </div>
{% endblock %}
    {% block javascript %}
     
     <script>
        function confirmDelete(){
    var result = confirm("Sure you want to delete Traveller?");
    if (result) {
        window.location.href = "{% url 'core:travellerdelete' %}";
}
  }
        $(".positive-btn").click(function(event){
        event.preventDefault();
        
        var this_ = $(this);
        var post_url = '{% url "core:buyer" 2 %}';
        var idm = 24;
        $.ajax({
          url: post_url,
          method: "POST",
          data: {

          },
          success: function(data){
            console.log("fell",data);
            
          },
          error: function(error){
            console.log(error);
          },
        })
      });
     
      
    </script>
   

  {% endblock %}